@page "/genres/create"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using BlazorWebAppBooks.Models
@inject IDbContextFactory<BlazorWebAppBooks.Data.BlazorWebAppBooksContext> DbFactory
@inject NavigationManager NavigationManager


<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Genre</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Genre" OnValidSubmit="AddGenre" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Genre.Name" @oninput="NameChanged" @onblur="NameChanged" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Genre.Name" class="text-danger" /> 
            </div>   
            <p class="text-danger">@errorMessage</p>
            <button type="submit" class="btn btn-primary">Create</button> <Button Color="ButtonColor.Primary" Outline="true" @onclick="args => ButtonRoutes.BackGenre(NavigationManager)"> Back </Button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private Genre Genre { get; set; } = new();
    private String errorMessage = "";

    private async Task AddGenre()
    {
        using var context = DbFactory.CreateDbContext();

        var result = context.Genre.FirstOrDefault(x => x.Name.ToLower() == Genre.Name.ToLower());
        if (result == null){
            context.Genre.Add(Genre);
            await context.SaveChangesAsync();
            NavigationManager.NavigateTo("/genres");
        }
        else
        {
            errorMessage = "Genre already exists";
        }
    }

    private void NameChanged()
    {
        errorMessage = "";
    }
}
